.c-project-layout-arrow {
    cursor: pointer;
}

.slick-multi {
    margin: 0 -15px;
    &-wrapper {
        overflow: hidden;
    }
    &-item {
        cursor: pointer;
        padding: 5px;
    }
}

@media (min-width: 1200px) {
    .slick-multi-item {
        padding: 15px;
    }
}