.ant-pagination-item {
    a {
        margin: 0;
    }
}

.pager {
    li {
        border-radius: 0;
        border: 0;
        height: auto;
        background: $gray-light
    }
    .ant-pagination {
        &-next,
        &-prev {
            background: darken($gray-light, 20);
            a {
                color: #fff!important;
            }
        }
        &-disabled {
            opacity: .5;
        }
        &-item-active {
            background: $gray-dark;
            font-weight: bold;
        }
    }
    &-link {
        display: block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 1rem;
        margin: 0!important;
    }
}